body {
    background: url(../img/bg.jpg) no-repeat center top / cover;
    margin: 0;
    font-family: Arial, sanserif;
    color: #707275;
}
.container {
    width: 960px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #7a7c7e;
}
ul, p, ol, li {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
h2 {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
}

.input-table {
    position: relative;
    width: 100%;
}
.claerfix::after{
    clear: both;
}
button {
    box-sizing: border-box;
}
section {
    padding: 60px 0;
}
.logo {
    display: block;
    text-align: center;
}

/* ------------ find/search forms -------------- */
.search-form {
    display: flex;
    margin-top: 5px;
}
input[type="search"] {
    -webkit-appearance: none;
    border: none;
    padding-top: 4px;
    width: 100%;
    font-family: 'Arial';
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 25px;
    color: #373f45;
    height: 40px;
    outline: 1px solid #efefef;
    box-shadow: inset 0px 2px 6px 1px rgba(0, 0, 0, 0.2), 0px 2px 0px rgba(0, 0, 0, 0.11);
    background-color: #fbfbfb;
    border-radius: 3px;
    padding-left: 40px;
    padding-right: 12px;
}
input::-webkit-input-placeholder {
    color: #5c5e5f;
}
input:-moz-placeholder {
    color: #5c5e5f;
}
input[type="search"]:focus {
    outline: none;
    background-color: #ffffff;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; 
	width: 17px; 
	height: 18px;
	background: url('../img/dellIco.png'); 
	margin-right: 0px; 
	cursor: pointer; 
}
.search-input {
    position: relative;
    width: 100%;
}
label {
    position: absolute;
    left: 12px;
    top: 12px;
    cursor: pointer;
}
.search-wrapp_btn {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Arial Narrow';
    color: #373f45;
    letter-spacing: 0.02em;
    padding: 0px 20px;
    margin-left: 8px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    background: #e6e6e6 -moz-linear-gradient(top, rgba(177,181,183,0.25) 0%, rgba(177,181,183,0) 100%);
    background: #e6e6e6 -webkit-linear-gradient(top, rgba(177,181,183,0.25) 0%,rgba(177,181,183,0) 100%);
    background: #e6e6e6 linear-gradient(to top, rgba(177,181,183,0.25) 0%,rgba(177,181,183,0) 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.58), 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.58), 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
.search-wrapp_btn:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.44), inset 0px 0px 1px rgba(255, 255, 255, 0.96), 0px 0px 7px rgba(0, 0, 0, 0.07);
}
.find {
    margin-top: 5px;
}
.find__input {
    float: left;
    max-width: 888px;
}
.find__button {
    float: right;
}
.search {
    display: inline-table;
    margin-top: 5px;
}
.search__input, .search__button {
    display: table-cell;
}
.search__input {
    width: 100%;
    position: relative;
}
.search-table {
    margin-top: 2px;
}
.button {
    height: 38px;
}

/* tags */
.tag-list {
    display: flex;
    -webkit-display: flex;
    -o-display: flex;
    -moz-display: flex;
    justify-content: space-between;
}
.tag-item {
    display: block;
}
.tag-item a {
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}
.tag-item a:hover {
    color: #fff;
    background: #707275;
}
.active-tag {
    color: #fff;
    background: #707275;
    position: relative;
}
.tag-label {
    display: none;
}


/* ------------- Questions ------------- */
.question {
    column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    -moz-column-count: 2;
    column-rule: 1px solid #a2a3a3;
    -webkit-column-rule: 1px solid #a2a3a3;
    -o-column-rule: 1px solid #a2a3a3;
    -moz-column-rule: 1px solid #a2a3a3;
    column-gap: 50px;
    -webkit-column-gap: 50px;
    -o-column-gap: 50px;
    -moz-column-gap: 50px;
    font-weight: 400;
}
.question__discription {
    margin-bottom: 20px;
    text-indent: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3em;
}
.question__list {
    margin-left: 15px;
}
.question__list > li{
    margin-top: 8px;
    color: #4d4e53;
    font-size: 14px;
    font-weight: 700;
}
.question__wrap {
    margin-top: 5px;
    display: none;
    color: #707275;
    font-size: 14px;
    font-weight: 400;
}
.question__link {
    color: #4d4e53;
    font-size: 14px;
    font-weight: 400;
}
.question__wrap ul {
    list-style: none;
    margin-top: 2px;
    line-height: 1.3em;
}
.question__wrap ul li {
    margin-bottom: 3px;
}
.question__wrap ul li:before {
    content:  "–";
}
.question .visible {
    display: block;
}
.question-paragraph {
    list-style-image: none;
    list-style-type: none;
}
.question__text {
    text-indent: 15px;
    margin: 23px 0;
    margin-left: -15px;
    font-weight: 400;
    font-size: 14px;
    color: #707275;
}

/* ------------- media queryes ------------ */

@media screen and (max-width: 1024px) {
    .container {
        width: 600px;
    }
    .question {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-width: 100%;
        height: 100%;
    }
    .find__input {
        max-width: 528px;
    }

}
@media screen and (max-width: 800px) {
    .container {
        width: 300px;
    }
    .logo img {
        width: 100%;
    }
    .hidden {
        display: none;
    }
    .tag-list {
        flex-direction: column;
        background-color: #ededec;
        outline: 1px solid rgba(200, 200, 200, 0.85);
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.04);
        width: 163px;
        padding: 10px 0px 0px 28px;
        margin-top: 10px;
    }
    .active-tag, .tag-item a:hover {
        color: #2a2a2a;
        background: #ededec;
    }
    .tag-item a {
        padding: 0;
    }
    .tag-item {
        margin-bottom: 10px;
    }
    .active-tag:before {
        content: '→';
        position: absolute;
        display: block;
        left: -21px;
        top: 0;
        color: #707275;
    }
    .tag-label {
        display: block;
        background: rgba(255,255,255,0.4) url('../img/MenuIco.png') no-repeat 8px center;
        padding-left: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: 1px solid rgba(200, 200, 200, 0.85);
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.04);
        width: 163px;
        font-size: 14px;
        font-weight: 400;
        font-family:'Arial', sanserif;
    }
    .find__input {
        max-width: 228px;
    }
}